  
# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
coverage/
docs/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json