# Ignore a blackhole and the folder for development
node_modules/
.vs/
.idea/
*.iml
coverage/

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml

# Environment variables
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore output folders
dist/
docs/
.parcel-cache/

# Ignore heapsnapshot and log files
*.heapsnapshot
*.log

# Ignore package locks
package-lock.json
