{
  "$schema": "http://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "printWidth": 140,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "arrowParens": "avoid"
}
